@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #ff6666;
    padding: 2vmin 0;
    font-family: 'Chilanka', cursive;
}
header h1{
    text-align: center;
    font-size: 4em;
    color: #c1e7e1;
}
body{
    background-color: #4DB380;
    font-family: 'Baloo Tamma 2', cursive;
}
.score-board{
    color: #fee11a;
    text-align: center;
    font-size: 2.5em;
    padding: 2vmin;
}
.score-board .userscore, .score-board .compscore, .score-board span{
    display: inline-block;
    padding: 0 1vmin;
}
.score-board span{
    font-size: 2em;
    color: #fff8e7;
}
.result{
    text-align: center;
    margin: 1vmin auto 3vmin auto;
    font-size: 2em;
}
.result span{
    font-weight:900;
}
.winner{
    font-weight: bold;
    font-size: 1.2em;
    color: #47030f;
}
.winner span{
    font-size: 1.3em;
    color: #240008;
}
.choices{
    margin: 5vmin auto;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
}
.choice{
    padding: 3vmin 3vmin;
    margin: 0 2vmin;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #c1e7e1;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.choice img{
    pointer-events: none;
}
.choice:hover{
    background-color: #f75555;
    border: 1px solid #47030f;
}
.name{
    color: #e7e3ff;
}
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
@media only screen and (max-width:768px){
    header h1{
     font-size: 2.5rem;
    }
    .score-board .userscore, .score-board .compscore,.score-board span{
        width:100%;
    }
    .score-board span{
        font-size: 1em;
    }
    .winner{
        font-size: 1em;
        margin-bottom: 3rem;
    }
    .winner span{
        font-size: 1em;
    }
    .choice{
        margin: 20px 2vmin;
    }
}